// COLORS
$primary-color : #4056A1;
$primary-accent-color: royalblue;
$highlight-color: red;

$header-background-color: sandybrown;
$body-background-color: #f4f1ec; 
$error-background-color: indianred;

$tweet-border-color: black;

$text-color-default: #545149;
$text-color-light: white;
$text-color-user-handle: darkgrey;


// FONT STACKS
$default-font-family: 'Source Sans Pro', sans-serif;
$logo-font-family: 'Bungee', cursive, sans-serif;


// IMAGES
$header-background-image: url(../images/3px-tile.png);

