@use 'variables';


form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* border: 2px dashed red; */
  
  div {
    display: flex;
    justify-content: space-between;
  }
  
  button[type=submit] {
    background-color: variables.$primary-color;
    font-family: variables.$logo-font-family;
    text-transform: uppercase;
    color: variables.$text-color-light;
  }
}


#error-alert {
  padding: 1em;
  background-color: variables.$error-background-color;
  color: variables.$text-color-light;
}


#tweet-text {
  border: none;
  outline: none;
  resize: none;
  border-bottom: 3px solid black;
  background-color: inherit;
  margin-bottom: 1em;
}

