/* temporary --> remove during production
.tweet, .tweet * {
  border: 2px dashed red;
} */

@use 'variables';

#tweets {
  margin: 1em 0;
}


.tweet {

  border: 2px solid variables.$tweet-border-color;
  margin-bottom: 1em;
  padding: 1em;

  &:hover {
    box-shadow: 1em 1em 1em darkgrey;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }
  }

  .face {
    font-size: 3em;
    margin-right: 0.25em;
  }

  .user-name {
    font-size: 1.125em;
    font-weight: lighter;
  }

  .user-handle {
    font-size: 1.125em;
    color: variables.$text-color-user-handle;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.75em;
  }

  .tweet-icons i {
    margin-left: 0.5em;

    &:hover {
      color: variables.$highlight-color;
      /* box-shadow: .05em .05em .025em red; */
    }
  }
  
}
